* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
:root {
  --animate-duration: 2s;
}
.container {
  max-width: 1199px;
  margin: auto;
}
.animateDuration {
  animation-duration: 2s;
}
/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_content nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}
.header_content li {
  padding: 55px 15px;
}
.header_content li a {
  text-decoration: none;
}
.header_content li a {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.header_content a span {
  display: inline-block;
}
.header_content a:hover {
  color: #f55f8d;
}
.header_content a:hover span {
  animation: upToDown 0.3s;
}

.header_content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}
.btn_gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  line-height: 1.2;
}
.btn_gradient:hover {
  background-position: right center;
}
/* end header */

/* start carousel */
.carousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}
.carousel_content {
  display: flex;
  align-items: center;
}
.carousel_left {
  width: 60%;
}
.carousel_left > p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.carousel_left h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.carousel_article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.carousel_article ul {
  margin-bottom: 20px;
}
.carousel_article li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
  list-style-type: none;
}
.carousel_article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.carousel_right {
  width: 40%;
}
.carousel_img {
  width: 570px;
  margin-left: 50px;
}
.carousel_img img {
  width: 100%;
  display: block;
}
/* end carousel */

/* start services */
.services {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.services_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services_item {
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: 0.5s;
}
.services_item:hover {
  transform: translateY(-20px);
}
.services_item img {
  width: 215px;
}
.services_item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

/* end services */

/* start about */
.about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
  padding-top: 115px;
}
.about_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about_left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.about_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about_right {
  width: 50%;
}
.about_right p {
  margin-bottom: 15px;
}
.about_right_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.about_right_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.about_right ul {
  margin-bottom: 30px;
}
.about_right li {
  list-style: none;
}
.about_right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
/* end about */

/* start number */
.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number_content {
  display: flex;
  justify-content: space-around;
}
.number_item {
  width: 25%;
}
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
}
.number_item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* end number */

/* start feature */
.feature {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
  padding-top: 115px;
}
.feature_content {
  display: flex;
}
.feature_left,
.feature_right {
  width: 50%;
}
.feature_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.feature_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.feature_item {
  padding: 0 50px 30px 0;
}
.feature_item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.feature_item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
.feature_item_bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.feature_item_bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.feature_item_bg:hover::after {
  opacity: 1;
}
.feature_item_bg:hover p,
.feature_item_bg:hover h3,
.feature_item_bg:hover i {
  color: #fff;
}
.feature_item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.feature_item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}
.feature_item p {
  transition: all 1s;
}
.feature_banner {
  margin-right: -80px;
}
.feature_banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}
/* end feature */

/* start fortfolio */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}
.portfolio_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.portfolio_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.portfolio_table {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
  /* border: 2px solid red; */
}
.portfolio_item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio_item:hover::before {
  left: 125%;
}
.portfolio_item img {
  width: 100%;
  height: 100%;
}
.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}
.portfolio_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio_icon a {
  cursor: pointer;
  color: #fff;
}
.portfolio_item:hover .portfolio_icon {
  transform: translate(0);
}
.portfolio_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio_item:hover .portfolio_text {
  transform: translateY(0);
}
.portfolio_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.portfolio_text p {
  color: #fff;
  opacity: 0.7;
}
.portfolio_item1 {
  grid-column: 1 / span 2;
}
.portfolio_item5 {
  grid-column: 1 / span 2;
}
.portfolio_item6 {
  grid-column: 3/4;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2/4;
  grid-row-start: 2;
  grid-row-end: 4;
}
/* end fortfolio */

/* start plan */
.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 115px;
}
.plan_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.plan_item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgba(0, 0, 0, 0.1);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan_item:hover {
  border-image: url(../img/br.png) 1 round;
}
.plan_item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan_item img {
  width: 125px;
}
.plan_item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan_item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan_item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan_item li {
  font-size: 18px;
  font-weight: 400;
  color: #262626;
  padding: 5px 0;
}
.plan_item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
/* end plan */

/* start testimonial */
.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
}
.testimonial_content {
  min-height: 300px;
}
.testimonial_thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial_thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial_thumbs::after,
.testimonial_thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial_thumbs .testimonial_pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial_pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.testimonial_pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial_thumbs .testimonial_pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial_thumbs .swiper-slide-thumb-active .testimonial_pic {
  padding: 0 0 40px;
}
.swiper-slide-thumb-active .testimonial_pic .shape-bx {
  opacity: 1;
}
.swiper-slide-thumb-active .testimonial_pic::after,
.swiper-slide-thumb-active .testimonial_pic::before {
  opacity: 1;
}
.testimonial_pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial_pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.testimonial_pic::after,
.testimonial_pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial_comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial_text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.testimonial_text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial_text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial_name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial_position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
/* end testimonial */

/* start blog */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 115px;
}
.blog_item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blog_header {
  position: relative;
}
.blog_header img {
  width: 100%;
  border-radius: 8px;
}
.blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog_body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog_body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog_footer p:first-of-type {
  margin-right: 20px;
}
.blog_footer p:first-of-type span {
  color: #f55f8d;
}
.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
/* end blog */

/* start footer */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_top {
  display: flex;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.footer_text,
.footer_form {
  width: 50%;
}
.footer_text h2 {
  font-size: 28px;
  color: #262626;
}
.footer_form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer_form input {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background-color: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer_form input:focus,
.footer_form input:hover {
  border: 1px solid #f55f8d;
}
.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer_form button:hover {
  background-position: right center;
}
.footer_form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}
.footer_bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer_item {
  width: 25%;
}
.footer_item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer_item a:hover {
  color: #fff;
}
.footer_item li {
  padding: 0.5rem 0;
}
.footer_contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer_item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer_contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.footer_item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer_item h3::before {
  width: 15px;
}

.footer_item h3::after,
.footer_item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer_item h3::after {
  width: 45px;
  left: 20px;
}
.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_left span {
  color: #f55f8d;
}
.footer_right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer_copyright a:hover {
  background: #f55f8d;
}
/* end footer */

/* back To Top */

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* animate */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
